{% extends "layout.twig" %}
{% block title %}Создать нового пользователя{% endblock %}
{% block content %}
<form action="{{ url_for('users.store')}}" method="post" data-bitwarden-watching="1">
  <div class="mb-3">
    <label for="user_first_name">first_name</label>
    <input class="{{ html_classes('form-control', {'is-invalid': errors['user.first_name'] }) }}" id="user_first_name" name="user[first_name]" value="{{ form.user.first_name }}" type="text">
    {% if errors['user.first_name'] %}
    <div class="invalid-feedback">
      {{ errors['user.first_name']|first }}
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="user_last_name">last_name</label>
    <input class="{{ html_classes('form-control', {'is-invalid': errors['user.last_name'] }) }}" id="user_last_name" name="user[last_name]" value="{{ form.user.last_name }}" type="text">
    {% if errors['user.last_name'] %}
    <div class="invalid-feedback">
      {{ errors['user.last_name']|first }}
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="user_email">email</label>
    <input class="{{ html_classes('form-control', {'is-invalid': errors['user.email'] }) }}" id="user_email" name="user[email]" value="{{ form.user.email }}" type="text">
    {% if errors['user.email'] %}
    <div class="invalid-feedback">
      {{ errors['user.email']|first }}
    </div>
    {% endif %}
  </div>
    <input class="btn btn-primary" type="submit" value="Сохранить">
</form>
{% endblock %}
